<p id="notice"><%= notice %></p>

<p>
  <strong>Mercancia:</strong>
  <%= @ventum.mercancia %>
</p>

<p>
  <strong>Momento:</strong>
  <%= @ventum.momento %>
</p>

<%= link_to 'Edit', edit_ventum_path(@ventum) %> |
<%= link_to 'Back', venta_path %>
