<%= form_for(dependiente) do |f| %>
  <% if dependiente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dependiente.errors.count, "error") %> prohibited this dependiente from being saved:</h2>

      <ul>
      <% dependiente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_area :nombre %>
  </div>

  <div class="field">
    <%= f.label :direccion %>
    <%= f.text_area :direccion %>
  </div>

  <div class="field">
    <%= f.label :telefono %>
    <%= f.number_field :telefono %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
