<p id="notice"><%= notice %></p>

<h1>Dependientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependientes.each do |dependiente| %>
      <tr>
        <td><%= dependiente.nombre %></td>
        <td><%= dependiente.direccion %></td>
        <td><%= dependiente.telefono %></td>
        <td><%= link_to 'Show', dependiente %></td>
        <td><%= link_to 'Edit', edit_dependiente_path(dependiente) %></td>
        <td><%= link_to 'Destroy', dependiente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependiente', new_dependiente_path %>
